<div class="control">
  <div>
    <button class="btn btn-secondary" (click)="train()">Train</button>
    <button *ngIf="maxError !== undefinied" class="btn btn-secondary" (click)="download()">Download network as JSON</button>
  </div>
  <h5 *ngIf="maxError !== undefinied"><span class="badge badge-danger">Error: {{maxError | percent:'1.1-1'}}</span></h5>
</div>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Color</th>
      <th>Hex</th>
      <th>Likes</th>
      <th>Computed</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let color of colors; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>
        <div class="color" [style.background-color]="color.hex"></div>
      </td>
      <td>{{color.hex}}</td>
      <td>{{color.likes | number:'1.0-0'}}</td>
      <td>{{color.computed | number:'1.0-0'}}</td>
      <td>{{color.error | percent:'1.1-1'}}</td>
    </tr>
  </tbody>
</table>