<div class="control">
  <div>
    <button class="btn btn-secondary" (click)="train()">Train</button>
    <button *ngIf="maxError !== undefinied" class="btn btn-secondary" (click)="download()">Download</button>
    <button class="btn btn-secondary" (click)="chooseFile()">Load</button>
    <input id="networkLoad" type="file" (change)="load($event)" hidden/>
  </div>
  <h5 *ngIf="maxError !== undefinied"><span class="badge badge-danger">Error: {{maxError | percent:'1.1-1'}}</span></h5>
</div>
<app-chart *ngIf="chartData" [chartData]="chartData"></app-chart>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Color</th>
      <th>Hex</th>
      <th>Likes</th>
      <th>Computed</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of colorsData; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>
        <div class="color" [style.background-color]="data.color.hex"></div>
      </td>
      <td>{{data.color.hex}}</td>
      <td>{{data.likes | number:'1.0-0'}}</td>
      <td>{{data.computedLikes | number:'1.0-0'}}</td>
      <td>{{data.error | percent:'1.1-1'}}</td>
    </tr>
  </tbody>
</table>